@use "../variables/index" as *;

/* footer */
footer {
  background-color: $main-color;
  color: rgb(59, 59, 59);
  font-size: 2rem;
  text-align: center;
  padding: 4rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer a {
  color: #fff;
  padding: 1rem;
}

.contact-footer {
  margin-top: 80px;
}
