@use "../variables/index" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  max-width: 100%;
  min-height: 100dvh;
  min-height: 100vh;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Main picture */
#store {
  background: #000 url("/assets/images/main-pic.jpg") no-repeat
    center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#layer {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
}
#store .container {
  margin-top: 25vh;
}
#store h1 {
  font-size: 4.1rem;
  z-index: 1;
  color: #fff;
  animation: slideInFromTop 1s ease-in;
}
#store p {
  z-index: 1;
  font-size: 2rem;
  color: #fff;
  animation: slideInFromLeft 1s ease-in;
}
#store .btn2 {
  margin-top: 30px;
  animation: slideInFromLeft 1s ease-in;
}
/* grid part with images in squares*/
.squares {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.squares h1 {
  font-size: 3.7rem;
  margin: 4rem;
}
.square {
  background: url("/assets/images/img-1.jpg") no-repeat center center/cover;
  color: $text-color;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
  z-index: 1;
}
.square-1 {
  background: url("/assets/images/img-2.jpg") no-repeat center center/cover;
  color: $text-color;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
  z-index: 1;
}
.square-2 {
  background: url("/assets/images/img-3.jpg") no-repeat center center/cover;
  color: $text-color;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
}
.square-3 {
  background: url("/assets/images/img-4.jpg") no-repeat center center/cover;
  color: $text-color;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
}
/* Hover */
.square:hover {
  transform: scale(1.2);
}
.square-1:hover {
  transform: scale(1.2);
}
.square-2:hover {
  transform: scale(1.2);
}
.square-3:hover {
  transform: scale(1.2);
}
/* music img */
.music-img {
  background: url("/assets/images/laptop.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 100%;
}
/* Utility Classes */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
}
.container-2 {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}
.section {
  padding: 2rem 0;
}
.lead {
  font-size: 1.3rem;
}
.text-center {
  text-align: center;
}
.caption {
  font-size: 3rem;
}
.z-index {
  z-index: 1;
}
.white {
  color: #fff;
}

/* music pic */
.music {
  background: #000 url("/assets/images/music.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* last pic */
.last-pic {
  background: url("/assets/images/end-pic.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* grid */
.grid-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}
.grid-cols ul {
  list-style: none;
}
.grid-cols li a {
  color: #000;
}
.grid-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

/* Contact Form */
.contain {
  max-width: 55%;
  margin: auto;
  margin-top: 1em;
}

#contact {
  display: flex;
}
#contact .contact-form {
  flex: 1;
}
#contact .contact-form .form-group {
  margin: 0.75rem;
}
#contact .contact-form label {
  display: block;
}
#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

.m-heading {
  font-size: 2.5rem;
}
