@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.height-container {
  height: 100vh;
}

/* Animation */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* buttons */
.button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, var(#4f58fd), var(#149bf3) 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  margin-top: 60px;
  padding: 5px 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:active,
.button:focus {
  outline: none;
}

.button:hover {
  background-position: -20px -20px;
}

.button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.btn-submit {
  background: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  border: none;
  border-radius: 15px;
  color: #fff;
  width: 100%;
  height: 5vh;
}

/* NAVBAR STYLING STARTS */
.navbar {
  align-items: center;
  background-color: #0369a1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 1.5rem;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  z-index: 1;
}

.menu li:hover {
  background-color: #60a3bc;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: #0369a1;
  padding: 14px 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 5px 16px;
  width: 30px;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4f58fd;
}

.services:hover .dropdown {
  display: block;
}

/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  max-width: 100%;
  min-height: 100dvh;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Main picture */
#store {
  background: #000 url("/assets/images/main-pic.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#layer {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
}

#store .container {
  margin-top: 25vh;
}

#store h1 {
  font-size: 4.1rem;
  z-index: 1;
  color: #fff;
  animation: slideInFromTop 1s ease-in;
}

#store p {
  z-index: 1;
  font-size: 2rem;
  color: #fff;
  animation: slideInFromLeft 1s ease-in;
}

#store .btn2 {
  margin-top: 30px;
  animation: slideInFromLeft 1s ease-in;
}

/* grid part with images in squares*/
.squares {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.squares h1 {
  font-size: 3.7rem;
  margin: 4rem;
}

.square {
  background: url("/assets/images/img-1.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
  z-index: 1;
}

.square-1 {
  background: url("/assets/images/img-2.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
  z-index: 1;
}

.square-2 {
  background: url("/assets/images/img-3.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
}

.square-3 {
  background: url("/assets/images/img-4.jpg") no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 1.4rem;
  height: 60vh;
}

/* Hover */
.square:hover {
  transform: scale(1.2);
}

.square-1:hover {
  transform: scale(1.2);
}

.square-2:hover {
  transform: scale(1.2);
}

.square-3:hover {
  transform: scale(1.2);
}

/* music img */
.music-img {
  background: url("/assets/images/laptop.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 100%;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
}

.container-2 {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  padding: 2rem 0;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

.caption {
  font-size: 3rem;
}

.z-index {
  z-index: 1;
}

.white {
  color: #fff;
}

/* music pic */
.music {
  background: #000 url("/assets/images/music.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* last pic */
.last-pic {
  background: url("/assets/images/end-pic.jpg") no-repeat center/cover;
  height: 100vh;
  max-width: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* grid */
.grid-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}

.grid-cols ul {
  list-style: none;
}

.grid-cols li a {
  color: #000;
}

.grid-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

/* Contact Form */
.contain {
  max-width: 55%;
  margin: auto;
  margin-top: 1em;
}

#contact {
  display: flex;
}

#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

.m-heading {
  font-size: 2.5rem;
}

/* footer */
footer {
  background-color: #0369a1;
  color: rgb(59, 59, 59);
  font-size: 2rem;
  text-align: center;
  padding: 4rem;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer a {
  color: #fff;
  padding: 1rem;
}

.contact-footer {
  margin-top: 80px;
}

/* media queries */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #0369a1;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #149bf3;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  /* Headers and images */
  #store {
    height: 70vh;
  }
  .music-img {
    height: 70vh;
  }
  .music {
    height: 70vh;
  }
  .last-pic {
    height: 70vh;
  }
  #showcase .container {
    margin-top: 15vh;
  }
  #store h1 {
    font-size: 2rem;
  }
  .caption {
    font-size: 2rem;
  }
  #store p {
    font-size: 1rem;
  }
  .lead {
    font-size: 1rem;
  }
  /* img squares */
  .squares {
    display: flex;
    flex-direction: column;
  }
  .squares img {
    height: 10vh;
  }
  .squares h1 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    margin: 3.7rem;
  }
  /* buttons */
  /* utilities */
  .container {
    padding: 1rem;
  }
  .container-2 {
    padding: 0;
  }
  /* Contact Form */
  #contact {
    display: flex;
  }
  #contact .contact-form {
    flex: 1;
  }
  #contact .contact-form .form-group {
    margin: 0.75rem;
  }
  #contact .contact-form label {
    display: block;
  }
  #contact .contact-form input,
  #contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
  }
  .m-heading {
    font-size: 1.5rem;
  }
  .btn-submit {
    background: linear-gradient(1deg, #4f58fd, #149bf3 99%);
    border: none;
    border-radius: 15px;
    color: #fff;
    max-width: 100%;
  }
  .footer-cols {
    display: none;
  }
  footer a {
    padding: 15px;
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  .grid-cols {
    display: none;
  }
}
@media (max-height: 580px) {
  #store p.lead {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */